body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#Globe-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Flight Overlay Styles */
.flight-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 300px; /* Adjust this width as needed */
  font-family: "Roboto", sans-serif; /* Modern font */
}

.flight-data {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  width: 100%; /* Make sure this matches the parent width if necessary */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow-y: auto; /* Only show scrollbar when necessary */
  max-height: 600px; /* Adjust height as needed */
}
.flight-input {
  width: calc(100% - 110px); /* Adjust input width, considering button width */
  margin-right: 5px;
}

.fetch-button {
  width: 100px; /* Set a fixed width for the button */
}

.error-message {
  color: red;
}

.flight-info {
  text-align: left;
}
